{% extends 'shoplayout.html' %}

{% block title %}Cart{% endblock %}


{% block content %}
<div id="cartItems">
	<h2>Shopping Cart</h2>
	<div id="tableItems">
		{% for row in products %}
		<div>
			<hr id="seperator">
			<div id="itemImage">
					{% if row.photo == None %}
						<img src={{ url_for('static', filename='images/ouss.png' ) }} id="itemImage" />
					{%else%}
						<img src={{ url_for('static', filename='uploads/' + row.photo.filename ) }} id="itemImage" />
					{%endif%}
			</div>
			<div id="itemName">
				<span id="itemNameTag">{{row.name}}</span><br>
				In stock<br>
				<a href="/removeFromCart?productId={{row.object_id}}">Remove</a>
			</div>
			<div id="itemPrice">
				${{row.price}}
			</div>
		</div>
		{% endfor %}
		<hr id="seperator">
		<div id="total">
			<span id="subtotal">Subtotal</span> : ${{totalPrice}}
		</div>
	</div>
</div>
<a href="/checkout">Proceed to checkout</a>

{% endblock %}