{% extends 'shoplayout.html' %}

{% block title %}{{categoryName}}{% endblock %}


{% block content %}

	<h2>Showing all products of Category {{categoryName}}:</h2>
	{% for itemData in data %}
	<table>
		<tr id="productName">
			{% for row in itemData %}
			<td>
				{{row.name}}
			</td>
			{% endfor %}
		</tr>
		<tr id="productImage">
			{% for product in itemData %}
			<td>
				<a href="/productDescription?productId={{product.object_id}}">
					{% if product.photo == None %}
						<img src={{ url_for('static', filename='images/ouss.png' ) }} id="itemImage" />
					{%else%}
						<img src={{ url_for('static', filename='uploads/' + product.photo.filename ) }} id="itemImage" />
					{%endif%}
				</a>
			</td>
			{% endfor %}
		</tr>
		<tr id="productPrice">
			{% for row in itemData %}
			<td>
				£{{row.price}}
			</td>
			{% endfor %}
		</tr>
	</table>
	{% endfor %}

{% endblock %}
