
{% extends 'shoplayout.html' %}

{% block title %}Search{% endblock %}


{% block content %}

		<h2>Search result for "{{searchterm}}"</h2>
		{% for data in itemData %}
		<table>
			<tr id="productName">
				{{ data.name }}
			</tr>
			<tr id="productImage">
				<td>
					<a href="/productDescription?productId={{data.object_id}}">
						{% if data.photo == None %}
							<img src={{ url_for('static', filename='images/ouss.png') }} id="itemImage" />
						{% else %}
							<img src={{ url_for('static', filename='uploads/' + data.photo.filename) }} id="itemImage" />
						{% endif %}
					</a>
				</td>
			</tr>
			<tr id="productPrice">
				<td>
					£{{data.price}}
				</td>
			</tr>
		</table>
		{% endfor %}
{% endblock %}