<!-- front/home.html -->
{% extends 'layout.html' %}

{% block title %}Welcome to {{ template_config['THEME'] }}{% endblock %}

{% block content %}
    <div class="col col-sm-12 col-lg-12 col-md-12" id="details">

        <p>Use this site to pay for membership and classes.</p>

    </div>








<!-- Ticket section -->

    <div class="section-header" style="padding: 100px 0;">
        <h2 class="wow fadeInDown animated" id="tickets">Tickets</h2>
    </div>
{#    <div class="col col-sm-12 col-lg-12 col-md-12">#}
{#        <p><a href="{{ url_for('purchase.purchase_home', _anchor='purchase') }}" class="btn btn-large">Buy tickets</a>#}
{#        </p>#}
{##}
{#        <p class="wow fadeInDown animated">#}
{#            On the door, tickets will be £{{ template_config['OTD_MEMBER'] }} for members#}
{#            and £{{ template_config['OTD_STANDARD'] }} for non-members.#}
{#        </p>#}
{#        <p class="wow fadeInDown animated">#}
{#            We have a limited number of <b>early bird tickets</b> available at £{{ template_config['EARLY_MEMBER'] }} for OUSS members#}
{#            and £{{ template_config['EARLY_STANDARD'] }} for non-members.#}
{#        </p>#}
{#        <p class="wow fadeInDown animated">#}
{#            Once these run out, tickets are £{{ template_config['MEMBER_PRICE'] }} for OU Salsa Society members#}
{#            and £{{ template_config['STANDARD_PRICE'] }} for non-members.#}
{#        </p>#}
{#        <p class="wow fadeInDown animated">#}
{#            You can become a member at any of our events (non-students too).#}
{#        </p>#}
{#        <p class="wow fadeInDown animated">#}
{#            There is a discount for groups of {{ template_config['GROUP_SIZE'] }} or more! These will be a flat rate of £{{ template_config['GROUP_TICKET_PRICE'] }}.#}
{#        </p>#}
{#        <p class="wow fadeInDown animated"><a href="mailto:{{ template_config['TICKETS_EMAIL'] }}">Contact us if you have any questions.</a>#}
{#        </p>#}
{#        <p class="wow fadeInDown animated">#}
{#            Purchase and manage your tickets through our ticketing system here:#}
{#        </p>#}
{#        <a href="{{ url_for('purchase.purchase_home', _anchor='purchase') }}" class="btn btn-large">Buy tickets</a>#}
{#    </div>#}
<!-- Ticket section -->












{#   </div>#}
{##}
{#    <div class="col col-sm-12 col-lg-12 col-md-12">#}
{##}
{##}
{#    </div>#}
{% endblock %}
